<div class="login">
  <div class="login__wrapper">
    <div class="login__container">
      <h2 class="login__title">Cadastro de Empresas</h2>
      <form class="login__form" (ngSubmit)="onSubmit()">
        <div class="login__form-group">
          <label for="username" class="login__label">Usuário</label>
          <input
            type="text"
            id="username"
            class="login__input"
            [(ngModel)]="username"
            name="username"
            placeholder="Digite seu usuário"
            required
          />
        </div>
        <div class="login__form-group">
          <label for="password" class="login__label">Senha</label>
          <input
            type="password"
            id="password"
            class="login__input"
            [(ngModel)]="password"
            name="password"
            placeholder="Digite sua senha"
            required
          />
        </div>
        <app-button type="primary" (buttonClick)="onSubmit()"
          >Entrar</app-button
        >
      </form>
      <p *ngIf="errorMessage" class="login__error">{{ errorMessage }}</p>
    </div>
  </div>
</div>
