<div class="company-list">
  <div class="company-list__header">
    <app-button type="tertiary" (buttonClick)="addCompany()"
      >Adicionar Nova Empresa</app-button
    >
  </div>
  <div class="company-list__grid">
    <app-company-card
      *ngFor="let company of companies"
      [company]="company"
      (edit)="editCompany($event)"
      (delete)="deleteCompany($event)"
    ></app-company-card>
  </div>

  <app-confirm-dialog
    *ngIf="showConfirmDialog"
    [message]="'Tem certeza que deseja excluir esta empresa?'"
    (confirm)="confirmDelete()"
    (cancel)="cancelDelete()"
  ></app-confirm-dialog>
</div>
