html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(165, 3, 255);
  background: linear-gradient(
    45deg,
    rgba(165, 3, 255, 1) 0%,
    rgba(250, 0, 255, 1) 100%
  );
  background-size: cover;
  background-attachment: fixed;
  font-family: "Rubik";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
